    <hr/>

    <footer class="footer" id="footer">

      <div style='margin:0px 0px auto auto' class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
          <small>Copyright © 2017</small>
        </div>
      </div>
    </footer>
    <!-- end of footer -->

    <br/>
  </body>

  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/js/app.js"></script>


</html>

