<!DOCTYPE html>
<html>
<head>

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>Advisor</title>
<meta name="description" content="Once photograph.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--<link rel="shortcut icon" type="image/png" href="/static/images/cloud-ml-logo.png" />-->

<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<!-- For logs textarea box -->
<style type="text/css">
  textarea { width: 100%; margin: 0; padding: 0; border-width: 0; }
</style>

</head>
<body>
  <!-- nav bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/dashboard">
          <img alt="Brand" height="26px" src="/static/images/cloud-ml-logo.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard"> Advisor <span class="sr-only">(current)</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" id="contact-us" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <a href="https://github.com/tobegit3hub/advisor" target="_blank"><li class="text-center"></span> Github </li></a>
            </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- end of nav bar -->
