{% include "header.html" %}

<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="glyphicon glyphicon-ok"></span> {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <!-- introduce tabs, refer to http://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp -->
    <!--<ul class="nav nav-tabs">-->
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#studies">Studies</a></li>
        <li><a data-toggle="tab" href="#trials">Trials</a></li>
        <li><a data-toggle="tab" href="#configuration">Configuration</a></li>
    </ul>

    <div class="tab-content text-center">

        <div id="studies" class="tab-pane fade in active">
            <h2> Studies </h2>

            <table class="table table-striped table-hover table-condensed">
                <th class="active">Id</th>
                <th class="success">Name</th>
                <th class="warning">Study Configuration</th>
                <th class="danger">Status</th>
                <th class="info">Created Time</th>
                <th class="active">Updated Time</th>
                <th class="success">Operation</th>

                {% for study in studies %}
                <tr>
                    <td class="active"><a href="/dashboard/v1/studies/{{ study.id }}">{{ study.id }}</a></td>
                    <td class="success">{{ study.name }}</td>
                    <td class="warning">{{ study.study_configuration }}</td>
                    <td class="danger">{{ study.status }}</td>
                    <td class="info">{{ study.created_time }}</td>
                    <td class="active">{{ study.updated_time }}</td>
                    <td class="warning">
                        <input type="image" width="22px" src="/static/images/delete-icon.png" alt="Delete"
                               onclick="delete_resource('/dashboard/v1/studies/{{ study.id }}')"/>
                    </td>
                </tr>
                {% endfor %}

            </table>

            <hr/>
            <h2>Create Resources</h2>

            <form action="/dashboard/v1/studies" method="post" onsubmit="return confirm(" Do you want to create the
                  resource?
            ");">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><font color="red">*</font> Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="study" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><font color="red">*</font> Study Configuration
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="study_configuration" placeholder=""
                           required="required">
                </div>
            </div>
            <div class="form-group row">
                <div align="center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>

        </div>

        <div id="trials" class="tab-pane fade">
            <h2> Trials </h2>

            <table class="table table-striped table-hover table-condensed">
                <th class="active">Id</th>
                <th class="success">Study Id</th>
                <th class="warning">Name</th>
                <th class="danger">Parameter Values</th>
                <th class="info">Objective Value</th>
                <th class="active">Status</th>
                <th class="success">Created Time</th>
                <th class="warning">Updated Time</th>
                <th class="danger">Operation</th>

                {% for trial in trials %}
                <tr>
                    <td class="active"><a href="/dashboard/v1/studies/{{ trial.study_id }}/trials/{{ trial.id }}">{{
                        trial.id }}</a></td>
                    <td class="success">{{ trial.study_id }}</td>
                    <td class="warning">{{ trial.name }}</td>
                    <td class="danger">{{ trial.parameter_values }}</td>
                    <td class="info">{{ trial.objective_value }}</td>
                    <td class="active">{{ trial.status }}</td>
                    <td class="success">{{ trial.created_time }}</td>
                    <td class="warning">{{ trial.updated_time }}</td>
                    <td class="danger">
                        <input type="image" width="22px" src="/static/images/delete-icon.png" alt="Delete"
                               onclick="delete_resource('/dashboard/v1/studies/{{ trial.study_id }}/trials/{{ trial.id }}')"/>
                    </td>
                </tr>
                {% endfor %}

            </table>

            <hr/>
            <h2>Create Resources</h2>

            <form action="/dashboard/v1/trials" method="post" onsubmit="return confirm(" Do you want to create the
                  resource?
            ");">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><font color="red">*</font> Study Id </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="study_id" placeholder="1" required="required">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label"><font color="red">*</font> Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" placeholder="trial" required="required">
                </div>
            </div>
            <div class="form-group row">
                <div align="center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>

        </div>


        <div id="configuration" class="tab-pane fade">
            <h2> Configuration </h2>

            <table class="table table-striped table-hover table-condensed">
                <th class="active">Org id</th>
                <th class="success">Org name</th>
                <th class="warning">Resource Type</th>
                <th class="danger">Memory / Used</th>
                <th class="info">CPU / Used</th>
                <th class="active">GPU / Used</th>

                {% for quota in quotas %}
                <tr>
                    <td class="active">{{ quota.org_id }}</td>
                    <td class="success">{{ quota.org_name }}</td>
                    <td class="warning">DevEnv</td>
                    <td class="danger">{{ quota.dev_memory_quota }} / {{ quota.dev_memory_used }}</td>
                    <td class="info">{{ quota.dev_cpu_quota }} / {{ quota.dev_cpu_used }}</td>
                    <td class="active">{{ quota.dev_gpu_quota }} / {{ quota.dev_gpu_used }}</td>
                </tr>

                <tr>
                    <td class="active"></td>
                    <td class="success"></td>
                    <td class="warning">TrainJob</td>
                    <td class="danger">{{ quota.train_memory_quota }} / {{ quota.train_memory_used }}</td>
                    <td class="info">{{ quota.train_cpu_quota }} / {{ quota.train_cpu_used }}</td>
                    <td class="active">{{ quota.train_gpu_quota }} / {{ quota.train_gpu_used }}</td>
                </tr>

                <tr>
                    <td class="active"></td>
                    <td class="success"></td>
                    <td class="warning">ModelService</td>
                    <td class="danger">{{ quota.model_memory_quota }} / {{ quota.model_memory_used }}</td>
                    <td class="info">{{ quota.model_cpu_quota }} / {{ quota.model_cpu_used }}</td>
                    <td class="active">{{ quota.model_gpu_quota }} / {{ quota.model_gpu_used }}</td>
                </tr>

                <tr>
                    <td class="active"></td>
                    <td class="success"></td>
                    <td class="warning">Total</td>
                    <td class="danger">{{ quota.total_memory_quota }} / {{ quota.total_memory_used }}</td>
                    <td class="info">{{ quota.total_cpu_quota }} / {{ quota.total_cpu_used }}</td>
                    <td class="active">{{ quota.total_gpu_quota }} / {{ quota.total_gpu_used }}</td>
                </tr>

                </tr>
                <td class="active"></td>
                <td class="success"></td>
                <td class="warning">TensorBoardService</td>
                <td class="danger">{{ quota.tensorboard_quota }} / {{ quota.tensorboard_used }}</td>
                </tr>

                {% endfor %}

            </table>

        </div>
    </div>

</div>

{% include "footer.html" %}
